@import url("defaults.css");

/* body {
	grid-template-columns: 300px 1fr;
} */

main {
	background-color: var(--color-background);
	padding: 1em 1.5em;
	overflow-y: auto;
	scrollbar-color: var(--color-accent) transparent;
}