body main {
	display: flex;
	flex-direction: column;
	padding-bottom: 0;
}

dialog {
	background-color: transparent;
	border: 0;
	align-self: center;
	justify-self: center;
	
	&::backdrop {
		background: rgba(0, 0, 0, 0.2);
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 28px;
	width: fit-content;
}
fieldset {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 320px;
	padding: 0;
	border: none;

	input {
		width: stretch;
	}
}

input, select, textarea, button {
	padding: 0.5em 1em;
	width: fit-content;
}

.input_wrapper {
	display: flex;
	align-items: center;
	gap: 16px
}

button {
	background-color: var(--color-accent);
	color: var(--color-text-dark);
	border-radius: 6px;
	
	&:hover {
		filter: brightness(0.8);
	}
}

section#content {
	display: flex;
	flex-direction: row;
	gap: 20px;
	width: stretch;
	height: stretch;
	align-self: center;
	min-height: 0;

	& > .mensagem {
		margin: auto;
	}
}

#lista {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 400px;
	min-height: 0;
	overflow-y: auto;
}

.hidden {
	display: none;
}

#relatorio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	border-radius: 6px;
	overflow-y: auto;

	& .mensagem {
		width: fit-content;
	}

	& #relatorio-content {
		width: 100%;
		height: 100%;
	}
}

section#header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	align-self: center;
}