@import url("variables.css");
@import url("fonts.css");

* {
	box-sizing: border-box;
	font-family: "NunitoSans";
	margin: 0;
	accent-color: var(--color-accent);
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;

	background-color: var(--color-background);
	color: var(--color-text-light);
}