@import url("defaults.css");

body {
	display: grid;
	grid-template-columns: 300px 1fr;
}

body main {
	background-color: var(--color-background);
	padding: 1em 1.5em;
	overflow-y: auto;
	scrollbar-color: var(--color-accent) transparent;
}

main > header {
	margin-bottom: 24px;
}

article {
	padding: 18px;
	border-radius: 18px;

	&.light {
		background-color: var(--color-surface);
		color: var(--color-text-dark);
	}

	&.dark {
		background-color: var(--color-primary);
		color: var(--color-text-light);
	}

	h3 {
		margin-bottom: 1em;
	}
}

div.lista {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5em;
	align-items: center;

	article {
		width: 100%;
	}

	&:has(.mensagem) {
		justify-content: center;
	}
}

.mensagem {
	font-family: "JetBrains", monospace;
	color: var(--color-primary-light);
}