section#dashboard_content {
	display: grid;
	grid-template-areas:
		"prescricoes sintomas"
		"consultas sintomas";
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	height: min(500px, 60vh);
}

@media (max-width: 1000px) {
	section#dashboard_content {
		display: flex;
		flex-direction: column;
	}
	
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


article#prescricoes {
	grid-area: prescricoes;
}

article#consultas {
	grid-area: consultas;
}

article#sintomas {
	grid-area: sintomas;
}

article#sintomas .lista article {
	border-radius: 8px;
}

article > .lista {
	flex-grow: 1;
}