section#dashboard_content {
	display: grid;
	grid-template-areas: 
		"remedios exames sintomas"
		"consultas exames sintomas";
	gap: 1em;
	height: min(500px, 60vh);
	grid-template-columns: repeat(3, 1fr);
}

section#dashboard_content_visu {
	display: grid;
	grid-template-areas: 
		"remedios exames sintomas"
		"consultas exames sintomas";
	gap: 1em;
	height: min(500px, 60vh);
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 1000px) {
	section#dashboard_content {
		display: flex;
		flex-direction: column;
	}
	
}

@media (max-width: 1000px) {
	section#dashboard_content_visu {
		display: flex;
		flex-direction: column;
	}
	
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

article#prescricoes {
	grid-area: remedios;
}

article#consultas {
	grid-area: consultas;
}

article#exames {
	grid-area: exames;
}

article#sintomas {
	grid-area: sintomas;
}

article#sintomas .lista article {
	border-radius: 8px;
}

article > .lista {
	flex-grow: 1;
}